body {
    font-family: Arial, sans-serif;
    color:#333;
    margin: 0;
    padding: 0;
}
.background-container{
    position:relative;
    width:100%;
    color:rgb(175, 150, 150);
    height: 100vh; /* Full viewport height */
    background-image: url('agriculture.jpg'); /* Path to your background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the text */
    color: rgb(21, 15, 15); /* Text color */
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for better readability */
    border-radius: 10px; 
}

header {
    background-image: url('water.jpg');
    background-size: cover;
    color: rgb(146, 118, 118);
    padding: 100px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: rgba(74, 13, 13, 0);
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: rgb(232, 216, 209);
    text-align: center;
    padding: 10px;
}

form {
    margin: 20px 0;
}

fieldset {
    border: 1px solid #2a343654;
    padding: 10px;
    margin: 10px 0;
}

legend {
    font-weight: bold;
}

label {
    display: block;
    margin: 5px 0;
}

input {
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: rgb(61, 2, 2);
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 20px;
}
